Package: me.sa3odka.callbarxs
Section: Tweaks
Installed-Size: 1556
Maintainer: Sa3odka <sa3odka@hotmail.com>
Architecture: iphoneos-arm
Version: 3.2-143
Depends: mobilesubstrate, preferenceloader, firmware (>= 12), net.limneos.simpleactivationactions, ru.rejail.limneosos
Conflicts: com.hackyouriphone.limneosos, net.limneos.callbarx, com.pulandres.audiorecorderxs, com.pulandres.callbarxs, com.repo.xarold.com.audiorecorderxs, com.pulandres.bioprotectxs, net.pulandres.nfcwriterx, com.repo.xarold.com.nfcwriterx, com.pulandres.limneosos, com.repo.xarold.com.limneosos
Name: CallBar XS (iOS 12/13)
Author: Sa3odka <sa3odka@hotmail.com>
Sponsor: Sa3odka <Sa3odka Repo>
Icon: file:///Library/PreferenceBundles/CallBarXPreferences.bundle/CallBarXPreferences@3x.png
